body{ 
    background-color: rgb(255, 255, 255);
    
}

/*--   contenedor de login ---*/
#contenedor {
    width: 90%;
    height: 670px;
    margin: 0px auto;
}

/*--   encabezado ---*/

header {
    background-color: #6d6d6d;
    width: 80%;
    height: 50px;
    margin: 10px auto;
    box-shadow:  0px 4px 0px #000;
    -moz-box-shadow:  0px 4px 0px #000;
   
}
/*--   cuadro de login ---*/

#login {
    background-color: #fff;
    width: 20%;
    height: 30%;
    margin: 10% auto;
    padding: 1%;
    border: 3px solid #ff6200;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;
}
/*--   texto  "login" ---*/

 form h1{
     color: black:
     text-align: center;
     font-size: 40px;
     margin: 2% 20%; 
}
/*--   texto "acceder" ---*/
form h2{
     text-align: center;
    color: aliceblue;
}
/*--   recuadros txt ---*/

form input {
    width: 60%;
    height: 2%;
    margin: 3% 20%;
    color: #ff6200;
    text-align: center;
    border-radius: 5px;
}
/*--   botones ---*/

form button {
    background-color: #0b9f1c;
    color: #fff;
    width: 50%;
    height: 5%;
    margin: 5% 25%;
    border-radius: 7px;
    box-shadow: 0px 2px 0px;
    
}
/*--   pie de pagina ---*/
footer {
    background-color: #6d6d6d;
    width: 80%;
    height: 50px;
    margin: 15px auto;
    box-shadow:  0px 4px 0px #000;
    
   
}
